<p id="notice"><%= notice %></p>

<h1>Evaluations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        
        <td><%= link_to 'Edit', edit_course_evaluation_path(evaluation.course_id, evaluation) %></td>
        <td><%= link_to 'Destroy', course_evaluation_path(evaluation.course_id, evaluation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluation', new_course_evaluation_path(@course) %>
