<div class='offset-4'>
	<h1 class='formtittle'>Nueva evaluación</h1>
	<%= render 'form', evaluation: @evaluation %>
</div>

<div class="bottombtn">
	<%= link_to t('global.actions.back'), course_evaluations_path(@course), class:'btn btn-secondary'%>
</div>

