<div class='offset-4'>
	<h1 class="formtitle">Editar alumno</h1>
	<%= render 'form', student: @student %>
</div>

<div class="bottombtn">
	<%= link_to t('global.actions.back'), course_students_path(@course), class:'btn btn-secondary' %>	
</div>

