<div class="options">
	
	<div class="offset-4 col-4">
		<h1 class="mintitle">Evaluaciones de</h1>
	</div>
	<div class="dropdown offset-4 col-4 ">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Selecciona un curso.. 
	  </button>
	  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	   	<% @courses.each do |course| %>
	  	 <%= link_to "#{course}", course_evaluations_path(course), class:"dropdown-item" %>
	  	<% end %>
	  </div>
	</div>

</div>

