
<%= simple_form_for @course do |form| %>
  
    <div class="row">
      <%= form.input :year, wrapper_html: { class: 'col-4' } %>
    </div>
    <div class="row"> 
      <%= form.input :name, wrapper_html: { class: 'col-4' } %>
    </div>
    
    <%= form.submit class:'btn btn-danger',
    value: t('global.form.actions.submit') %>

  
<% end %>

