<div class="offset-4">
	<h1 class="formtitle">Editar curso</h1>
	<%= render 'form', course: @course %>
</div>

<div class="bottombtn">
	<%= link_to t('global.actions.back'), courses_path, class: 'btn btn-secondary' %>
</div>
