<div>
  <h1 style="text-align: center">Cursos</h1>
</div>

<br>
<br>
<% if @courses.empty? %>
    <p style="text-align: center"> No hay cursos disponibles </p>
<% else %>
  <table class="table table-striped" style="width: 50%; margin: auto; text-align: center">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @courses.each do |course| %>  
        <tr>
          <th> <%= course %> </th>
          <th>
          <div class="btn-group" role="group">
            <%= link_to 'Ver', course, class:"btn btn-secondary" %>
            <%= link_to 'Eliminar', course, class: "btn btn-secondary", method: :delete, data: { confirm: 'Está seguro de eliminar el curso?' }%>
          </div>
          </th>
        </tr>
      <% end %>
  
    </tbody>
  </table>
<% end %>
<br>

<div style="padding: 15px;">
  <%= link_to 'New Course', new_course_path, class: "btn btn-secondary" %>
</div>
