<div class="listall">
  <h1 class='mintitle'> <%= @course %></h1>
  <%= render 'sum', course: @course %>
</div>
<div class='bottombtn'>
  <%= link_to t('global.actions.back'), courses_path, class:' btn btn-secondary' %>		
</div> 
