 	 <ul class="breadcrumb">
      <li class="nav-item">
        <a><%= link_to t('views.application.home'), root_path, class: 'nav-link' %></a>
      </li>
      <%= render 'layouts/navigation_links' %>
     </ul>
  
        
