 	<li class="nav-item">
    	<a><%= link_to 'Cursos', courses_path, class: 'nav-link' %></a>
	</li>
    <li class="nav-item">
    	<a><%= link_to 'Alumnos', welcome_students_path, class: 'nav-link' %></a>
    </li>
    <li class="nav-item">
    	<a><%= link_to 'Evaluaciones', welcome_evaluations_path, class: 'nav-link' %></a>
    </li>
    <li class="nav-item">
    	<a><%= link_to 'Examenes', root_path, class: 'nav-link' %></a>
    </li>




   <%# add navigation links to this file %>
